<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/bootstrap.css" type="text/css" rel="stylesheet">
    <title>Curiosidades sobre o Sistema Solar</title>
</head>
<body class="bg">
    <script type="text/javascript" src="../JS/bootstrap.js"></script>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button2" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <h3>1- Números do Sistema Solar</h3>
              <P>Os dados mais recentes da Astronomia indicam que a <strong>idade do Sistema Solar é de cerca de 4,6 bilhões de anos</strong>. Ao todo,
                 são oito planetas, cinco planetas anões, 181 luas, 552.894 asteroides e 3.083 cometas, espalhados ao longo de 18,75 
                 trilhões de quilômetros. Em termos de massa, <strong>o Sol apresenta 99,8 % de toda a massa do Sistema Solar</strong>.</p>

                 <h3>2- O planeta mais quente</h3>
                 <p>É natural imaginarmos que o planeta mais quente do Sistema Solar seja o mais próximo ao Sol, <strong>mas isso não é verdade</strong>. O planeta mais
                    quente do Sistema Solar é o segundo em distância relativa ao Sol: VÊNUS. Mesmo estando muito mais distante do Sol que Mercúrio, <strong>Vênus
                     apresenta uma atmosfera densa e turbulenta</strong>, rica em gases como o dióxido de carbono, responsável por um constante <strong>efeito estufa</strong>. Dessa
                      forma, as temperaturas em Vênus atingem facilmente os 470 °C.</p>

                      <h3>3- Girando no sentido oposto</h3>
                      <p>Todos os planetas do Sistema Solar apresentam luas e giram no mesmo sentido, à exceção de um: VÊNUS (de novo). Esse é o <strong>único planeta do Sistema Solar de rotação retrógrada</strong>
                         e que não apresenta qualquer lua, o que <strong>sugere um passado violento</strong>. Estudos indicam que Vênus colidiu-se com um grande asteroide, o qual alterou o seu sentido de
                          rotação no Sistema Solar.</p>

                          <h3>4- Grande mancha vermelha de Júpiter</h3>
                          <p>A <strong>maior tempestade do Sistema Solar encontra-se em Júpiter</strong> e foi observada pela primeira vez no ano de 1831. Quando descoberta, a grande mancha estendia-se por incríveis 48.000 km.
                             Em 1979, no entanto, as medidas feitas pela sonda <strong>Voyager</strong> indicaram um novo diâmetro de 23.000 km. Os dados sugerem que a tempestade está perdendo forças e diminuindo cerca de 900
                              km por ano, mas ainda assim sua área é <strong>duas vezes maior que a área da Terra</strong>.</p>

                          <h3>5- O Sol não está mais onde ele parece estar</h3>
                          <p>O Sol encontra-se a cerca de 150 milhões de quilômetros da Terra. Essa grande distância torna a <strong>viagem da luz solar até nós um pouco demorada: pouco mais de oito minutos</strong>, mesmo com 
                            a luz propagando-se a 300.000 quilômetros por segundo. O caso mais dramático é o de Plutão: a luz solar leva cerca de 5 horas e meia para chegar no planeta anão!</p>


            </div>
          </div>
        </div>
        </div>
   
        <button type="button" class="btn btn-outline-info"><a href="../index.html">Voltar</a></button>
</body>
</html>