<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/bootstrap.css" type="text/css" rel="stylesheet">
    <title>Planetas anões</title>
</head>
<body class="bg">
    <script type="text/javascript" src="../JS/bootstrap.js"></script>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../IMG/plutao.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Plutão</h5>
              <p class="card-text">Durante décadas, Plutão foi considerado um planeta do sistema solar.
                A distância da Terra para Plutão é muito grande, fato que dificulta as observações e o
                 envio de sondas espaciais que possam fornecer imagens mais precisas. Entre as poucas características
                  obtidas desse planeta anão estão a massa (equivalente a 0,24% da massa da Terra), a 
                  composição interna (gelo e rochas), a atmosfera (nitrogênio, metano e monóxido de carbono)
                   e o diâmetro: 2.306 quilômetros.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="../IMG/eris.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Éris</h5>
              <p class="card-text">Éris está Localizado na periferia do Sistema Solar, além do
                 Cinturão de Kuiper. É o astro natural situado no Sistema Solar mais distante que os astrônomos
                  já localizaram, cerca de 13.500.000.000 km (ou 90 UA). A descoberta deste planeta anão foi confirmada por astrônomos norte-americanos
                   em 2005. Seu período orbital é de 560 anos terrestres </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="../IMG/ceres.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ceres</h5>
              <p class="card-text">Ceres fica localizado no cinturão de asteroides entre as órbitas de Marte e Júpiter.
                 É também o planeta anão mais próximo do Sol, além disso, contém cerca de um terço da massa de todo o
                  cinturão de asteroides, e, ainda, tem formato esférico e leva cerca de 4,6 anos para completar uma
                   volta em torno do Sol.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="../IMG/makemake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Makemake</h5>
              <p class="card-text">Makemake, é o terceiro maior planeta anão do Sistema Solar e o maior objeto transnetuniano
                 conhecido na população dos cubewanos, com um diâmetro de cerca de dois terços o de Plutão.</p>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card h-100">
              <img src="../IMG/haumea.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Haumea</h5>
                <p class="card-text">
                  Haumea é um planeta anão localizado no Sistema Solar, mais especificamente no Cinturão de Kuiper.
                   Haumea foi descoberto em 2004 e reconhecido como planeta anão em 17 de setembro de 2008.</p>
              </div>
            </div>
          </div>
      </div>
</div>

<button type="button" class="btn btn-outline-info"><a href="../index.html">Voltar</a></button>

</body>
</html>