<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/bootstrap.css" type="text/css" rel="stylesheet">
    <title>Planetas do Sistema Solar</title>
</head>
<body class="bg">
    <script type="text/javascript" src="../JS/bootstrap.js"></script>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../IMG/mercurio.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Mercúrio</h5>
              <p class="card-text">Mercúrio é o primeiro planeta do sistema solar, com
                 um diâmetro de 4878 km, é o menor entre os planetas
                  e também o que realiza mais rapidamente o seu movimento de translação,
                   executado a uma velocidade de aproximadamente 47,87 km/s, levando, assim,
                    88 dias para completar sua volta ao redor do sol.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="../IMG/venus.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vênus</h5>
              <p class="card-text">Venus é o segundo planeta do sistema solar, com um diâmetro de 12.104 km
                 possuindo tamanho e massa semelhante a do planeta Terra. Em Vênus a atmosfera é muito
                  compacta, formada por gás carbônico, por ser muito densa desenvolve um elevado efeito
                   estufa que faz o planeta produzir altíssimas temperaturas que atingem até 460ºC.
                .</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="../IMG/terra.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Terra</h5>
              <p class="card-text">Terra é o terceiro planeta do sistema solar, com um diâmetro de 12.742 km.
                 É o único planeta do Sistema Solar em que existe água em estado líquido,
                 característica que junto ao oxigênio e a temperatura média de 14ºC tornam possível a vida
                  no planeta.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="../IMG/marte.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marte</h5>
              <p class="card-text">Marte é o quarto planeta mais próximo do Sol e o segundo menor planeta do
                 sistema solar, depois de Mercúrio, sendo consideravelmente menor que o planeta Terra. Apresenta
                  uma coloração avermelhada, pela presença de óxido de ferro na sua superfície. Por isso, recebeu
                   o nome de Marte, em homenagem ao deus romano da guerra.</p>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card h-100">
              <img src="../IMG/jupiter.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Júpiter</h5>
                <p class="card-text">Quinto planeta a partir do Sol, situado entre Marte e Saturno, Júpiter é o maior
                   planeta do sistema solar, com diâmetro de 142.984 quilômetros – caberiam mil planetas como a Terra
                    em Júpiter. Sua atmosfera é composta principalmente de hidrogênio e hélio.
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="../IMG/saturno.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Saturno</h5>
                <p class="card-text">Saturno é o sexto planeta do Sistema Solar, sendo mais conhecido pelos anéis
                   que o circundam. Apresenta um diâmetro de 120 536 km, que é cerca de nove vezes maior que o
                    diâmetro equatorial terrestre. Ele possui a peculiaridade de ser menos denso do que a água, 
                    ou seja, se fosse possível “mergulhá-lo” em uma bacia d'água, ele flutuaria!</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="../IMG/urano.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Urano</h5>
                <p class="card-text">O planeta Urano está posicionado na sétima órbita a partir do Sol. Formado principalmente por
                   gases e fluidos, não possui uma superfície sólida como a Terra.
                    Sua estrutura é composta por sistemas de anéis que orbitam ao seu redor, os quais são menos brilhantes
                     do que os de outros planetas, como Saturno. Ao todo, Urano possui 27 luas conhecidas. Apenas uma sonda espacial
                      visitou o planeta, sendo a maior parte das descobertas ao seu respeito feita com o auxílio de telescópios.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="../IMG/netuno.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Netuno</h5>
                <p class="card-text">Último planeta do sistema solar, Netuno possui
                   diâmetro de 49.528 quilômetros, sendo o quarto maior em tamanho. Esse corpo celeste, assim como 
                   Júpiter, Saturno e Urano, é considerado um planeta gasoso, cuja atmosfera é composta principalmente
                    por hidrogênio, hélio e metano. Netuno apresenta coloração azulada em virtude da concentração de gás metano.
                    Até o momento, foram identificados 13 satélites naturais (Luas) desse planeta, sendo que os dois mais importantes são Tritão e Nereida.</p>
              </div>
            </div>
          </div>
      </div>
</div>

<button type="button" class="btn btn-outline-info"><a href="../index.html">Voltar</a></button>

</body>
</html>