<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/bootstrap.css" type="text/css" rel="stylesheet">
    <title>Informações do Sol</title>
</head>
<body class="bg">
    <script type="text/javascript" src="../JS/bootstrap.js"></script>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <h3>Sol (Estrela)</h3>
              <P>O Sol é a estrela mais próxima da Terra, <strong>distante aproximadamente 150 milhões de quilômetros</strong> de nós,
                 e é <strong>responsável por manter todo o Sistema Solar em sua interação gravitacional</strong>: oito planetas e os
                  demais corpos celestes que o compõem, como planetas anões, asteroides e cometas.</p>

                  <h5> Características do Sol</h5>
                  <p>A composição do Sol é de <strong>74% de hidrogênio e 24% de hélio</strong>, sendo o percentual restante formado
                     principalmente por oxigênio, carbono e ferro. Toda a energia produzida pelo Sol é proveniente do
                      <strong> processo de fusão nuclear</strong> decorrente das grandes temperaturas de seu núcleo (cerca de 15 milhões
                       de kelvin) e de sua enorme pressão.</p>

                  <p>Ao todo, o <strong>Sol consome cerca de 4 milhões de toneladas de sua massa por segundo</strong>, uma taxa mais
                   do que suficiente para mantê-lo brilhando pelos próximos 6 ou 7 bilhões de anos, devido à sua
                   grande massa, que é de aproximadamente 1,98.1031 kg, <strong> mais de 330 mil vezes a massa da Terra.</strong></p>
              
                    <h5>Estrutura física do Sol</h5>
                    <p>O Sol pode ser dividido em partes com diferentes propriedades físicas:</p>
                    <li><strong>Núcleo</strong>: onde ocorrem as fusões nucleares, e o processo de nucleossíntese representa cerca de 25% da massa do Sol.</li>
                    <li><strong>Zona radiativa</strong>: onde a radiação eletromagnética produzida pelo núcleo é refletida por muitas vezes, e essa leva milhares de anos para escapar de seu interior.</li>
                    <li><strong>Zona convectiva</strong>: uma camada instável que transmite calor por meio da convecção, nessa região ocorrem erupções solares.</li>
                    <li><strong>Fotosfera</strong>: a camada mais externa do Sol, é com base nela que toda a luz solar é irradiada. A fotosfera tem cerca de 100 km de espessura.</li>
                    <li><strong>Cromosfera</strong>: uma camada de baixa densidade que marca a transição entre a atmosfera solar e a coroa solar.</li>
                    <li><strong>Coroa</strong>: uma aura de plasma que permeia milhões de quilômetros ao redor do Sol, sua temperatura pode chegar a 1.000.000 ºC. Acredita-se que essa temperatura surja em razão do intenso campo magnético do Sol.</li>
                    <br>

                    <h5>Idade do Sol</h5>
                    <p><strong>Estima-se que a idade do Sol seja de 4,6 bilhões de anos</strong> e que, daqui a cerca de 7 bilhões de anos, ele será uma gigante vermelha,
                       com um raio equatorial 200 vezes maior que o atual (de 6,963.108 m, quase 109 vezes o raio da Terra) e até 5000 vezes mais brilhante,
                        “engolindo” a órbita do nosso planeta.</p>

                        <p>Ao atingir essa marca, o Sol será capaz de fundir átomos de carbono devido às altas temperaturas. Os estágios finais da evolução estelar do Sol
                           indicam que <strong>essa estrela se tornará uma anã branca</strong> — uma classe de estrelas extremamente densas —, apresentando menos da metade de sua massa atual 
                           devido ao processo de fusão nuclear e à emissão de ventos solares, comprimida em um raio até 17 vezes menor, deixando em sua volta uma grande nuvem de poeira estelar.</p>





                           

            </div>
          </div>
        </div>
        </div>

        <button type="button" class="btn btn-outline-info"><a href="../index.html">Voltar</a></button>
               
         

        
    
</body>
</html>